svg{
  stroke: #000;
  font-family: arial; 
}

#rim {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}

.inner-dial {
  stroke: #dfdfdf;
  stroke-width: 1;
  fill: #f4f4f4;
}

.outer-dial {
  stroke: #376aff;
  stroke-width: 60;
  fill: none;
}

.second-hand{
  stroke-width: 2;
}

.minute-hand{
  stroke-width: 3;
  stroke-linecap:round;
}

.hour-hand{
  stroke-width: 6;
  stroke-linecap:round;
}

.hands-cover{
  stroke-width:3;
  fill:#fff;
}

.second-tick{
  stroke-width: 2;
  stroke: #858585;
}

.hour-tick{
  stroke-width: 3; //same as the miute hand
}

.second-label{
  font-size: 12px;
}

.hour-label{
  font-size: 13px;
}

.hour24-label {
  font-size: 10px;
}

.hour-alt-tick {
  stroke-width: 3;
}

.second-alt-tick {
  stroke: #fff;
}

.hour-alt-label {
  fill: #fff;
  font-size: 14px;
  stroke: none;
}

.minute-alt-label {
  fill: #fff;
  font-size: 10px;
  stroke: none;
}

.clock {
  display: flex;
  justify-content: center;
}

.cities {
  height: calc(100vh - 330px);
  overflow: auto;
}

.city {
  background-color: #fff;
  border-bottom: 1px solid #bcbcbc;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &:nth-child(1) {
    background-color: #f4f4f4;
    border-bottom: 3px solid #bcbcbc;
  }

  &:nth-child(2) {
    background-color: #cedaff;
    border-bottom: 3px solid #376aff;
  }

  span {
    padding-left: 20px;
  }
}

.add-btn {
  background-color: #376aff;
  color: #fff;
  border-radius: 4px;
  display: block;
  max-width: 200px;
  padding: 8px;
  margin: 10px auto;
  text-align: center;
}
