.list {
  background-color: $app-white;
  display: flex;
  font-family: $bold-font;
  margin-bottom: 7px;
  position: relative;

  .delete {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1.8rem;
    cursor: pointer;

    .icon {
      cursor: pointer;
      display: block;
      fill: $app-black;
      height: 24px;
      opacity: .5;
      width: 24px;
    }
  }

  &__half {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: .6rem;
    padding-left: 27px;
  }

  .place {
    &--city {
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
    }

    &--country-name {
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  .time {
    &--12 {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &--day {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 4px;
    }

    &--24 {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}
